@import "tailwindcss";


:root {

  --background: 220 20% 97%;
  --foreground: 222 47% 11%;


  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;


  --primary: 221 83% 53%;
  --primary-foreground: 210 40% 98%;


  --muted: 220 14% 96%;
  --muted-foreground: 215 16% 47%;


  --accent: 221 83% 96%;
  --accent-foreground: 221 83% 53%;


  --border: 220 13% 91%;


}